
<div id="boxGrid">
    <div class="bigPic">
        <div class="largeTexts">
            <h1>Register</h1>
        </div>
        <form method="POST" id="register" class="form">

            <input name="first" placeholder="First name">
            <input name="last" placeholder="Last name">
            <input id="email" name="email" placeholder="Email">
            <input id="password" name="password" type="password" placeholder="******">
            <input type="submit" value="Submit" id="submit">
        </form>
    </div>

</div>
