<!DOCTYPE html>
<html>
    <head>
        <link href="stylesheet.css" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:200" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
        <title> Project </title>
    </head>
    <body>
        <div id="main">
            <div id="navigation">
                <h3>
                    <a href="/"> Welcome </a> •
                    <a href="/login"> Login </a> •
                    <a href="/register"> Register </a> •
                    <!-- <a href="/petition"> Petition </a> • -->
                    <a href="/signers"> Signers </a> •
                    <a href="/profile"> Profile </a> •
                    <!-- <a href="/thank_you"> Thanks! </a> • -->
                    <a href="/edit"> Edit Profile </a> •
                    <a href="/logout"> Logout </a>
                </h3>
            </div>

            <!-- <div id="boxGrid"> -->

                <div class="bigPic">
                    {{{body}}}
                </div>
            <!-- </div> -->

        </div>
    </body>
</html>
