<div class="largeTexts">
<h1>Bring back the sun!</h1>
</div>

<div id="boxGrid">

    <div class="bigPic">
        <!-- <h1>Bring back the sun!</h1> -->
        <div class="sunPic"></div>
    </div>
    <div id="inputArea">

        <form method="POST">
            <div class="error" style="color:red;"> Please fill out all fields
            </div>

            <input name="first" placeholder="first name" value="myFirstName">
            <input name="last" placeholder="last name" value="myLastName">
            <input id="signature" name="sig" placeholder="sig" type="hidden">
            <canvas id="myCanvas" width="223" height="100"></canvas>

            <input type="submit" value="Submit">
        </form>
    </div>

</div>
