<div class="largeTexts">
    <h1> Login </h1>
</div>

<div class="formDiv">

    <form method="POST" id="register" class="form">
        <div class="error"> {{err}} </div>

        <input id="email" name="email" placeholder="email" value="{{email}}">
        <input id="password" name="password" placeholder="******">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        <div class="buttonsInARow">

            <button type="submit" class="button"> Submit</button>
            <a href="/register" class="button"> Register </a>
        </div>
    </form>
</div>
