<div class="largeTexts">
    <h1>User signature</h1>
</div>
<div id="boxGrid">
    <div class="bigPic">
        <ul class="signers">
            <h1>User information</h1>

            {{#names}}
                <li>
                    {{first}} {{last}} {{age}} {{city}}
                </li>
            {{/names}}
        </ul>
    </div>
</div>
