
<!-- <h1>Bring back the sun!</h1> -->
<div class="largeTexts">
    <h1>Bring back the sun!</h1>
    <div class="error" style="color:red;"> {{err}} </div>
</div>

<div class="sunPic">
    <div class="theSunPic"> </div>

</div>
<div class="buttonsInARow">
    <a href="/login" class="button"> Login </a>
    <a href="/register" class="button"> Register </a>
</div>
